{% extends 'master/base.html' %}

{% block content %}

<h2>All Jobs</h2>

<form method="GET" class="mb-3">
    <input type="text" name="search"
        class="form-control" placeholder="Search jobs..."
        value="{{ search }}">
</form>

{% for job in jobs %}

<div class="card mb-3">
    <div class="card-body">


    <h4>{{ job.title }}</h4>

    <p>
        {{ job.category }} |
        {{ job.number_of_openings }} Openings
    </p>

    <p>
        <strong>Skills:</strong>
        {{ job.skills_set }}
    </p>

    <a href="{% url 'job_details' job.id %}"
       class="btn btn-primary btn-sm">
        View Details
    </a>

    {% if user.is_authenticated and user.user_type == 'jobseeker' %}

    <form method="POST" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="job_id" value="{{ job.id }}">

        <button type="submit" class="btn btn-success btn-sm">
            Apply
        </button>
    </form>

    {% endif %}

</div>


</div>

{% empty %}

<p>No jobs found.</p>

{% endfor %}

{% endblock %}
